$primary: #ffee00;
$textOnLight: #4a4a4a;
$textOnDark: #fcfcfc;
$light: #fcfcfc;
$dark: #121212;

.frontlanding{
    text-align: center;
    min-height: 75vh;
    color: $light;
    background-color: $dark;
}

.light{
    color: $light;
}

.logo{
    max-width: 200px;
    margin: 10vh auto 25px auto;
    display: block;
}

.landingScene{
    max-width: 35vw;
    margin: 0 auto;

    @media screen and (max-width: 600px){
        max-width: 85vw;
    }
}

.projectSection{
    text-align: center;
    padding: 40px;
}

.projectSelect{
    font-size: 1.2em;
}

.bySaalik{
    color: $textOnDark;
}

.card-footer a{
    color: $textOnLight;
    border: 0;
}

.no-underline{
    color: transparent;
}

.tag{
    margin-right: 5px;
}

// Card fades

.card-fade-enter{
    opacity: 0;
}

.card-fade-enter-active{
    opacity: 1;
    transition: all 500ms ease-in;
}

.card-fade-exit{
    opacity: 1;
}

.card-fade-exit-active{
    opacity: 0;
    transition: all 500ms ease-in
}