$primary: #ffee00;
$textOnLight: #4a4a4a;
$textOnDark: #fcfcfc;
$light: #fcfcfc;
$dark: #121212;

.aboutContainer{
    background-color: $dark;
    color: $textOnDark;
    text-align: center;
}

.aboutContainer p{
    font-size: 1.2em;
}

.logopic{
    width: 200px;
    border-radius: 50%;
}

.light{
    color: $textOnDark;
}

a{
    color: $primary;
}