@charset "utf-8";
@import url('https://fonts.googleapis.com/css?family=Quicksand:400,700&display=swap');

// Change css variables here
$primary: #ffee00;
$link: #4a4a4a;
$textOnLight: #4a4a4a;
$textOnDark: #fcfcfc;
$light: #fcfcfc;
$dark: #121212;
$family-primary: 'Quicksand', sans-serif;
$title-family: 'Quicksand', sans-serif;


@import '~bulma/bulma.sass';

.darkback{
    background-color: $dark;
    color: $textOnDark;
}

.lightback{
    text-align: center;
    background-color: #fcfcfc;
}

.darknav{
    background-color: $dark;
    
    .navbar-brand{
        box-shadow: none;
    }
    
    .navbar-start a{
        background-color: $dark;
        color: $textOnDark;
        padding: 0 50px 0 50px;
        text-align: center;
        box-shadow: none;
    }

    .navbar-menu{
        padding: 0;
    }
}

.lightnav{
    background-color: $light;

    .navbar-brand{
        box-shadow: none;
    }

    .navbar-start a{
        background-color: $light;
        color: $textOnLight;
        padding: 0 50px 0 50px;
        text-align: center;
        box-shadow: none;
    }

    .navbar-menu{
        padding: 0;
    }
}

.navLogo{
    margin: 5px auto;
    width: 50px;
}

.footer-center{
    text-align: center;
}

.darklightback{
    background-color: $dark;
    width: 100vw;
    height: 100vh;
    animation: darkToLight 1s ease-in-out 0.5s;
}

.bulbcenter{
    width: 100px;
    margin: 0 auto;
    padding-top: 30vh;
    display: block;
}

@keyframes darkToLight{
    0% {
        background-color: $dark;
    }
    100% {
        background-color: $light;
    }
}