.page-enter{
    opacity: 0;
}

.page-enter-active{
    opacity: 1;
    transition: opacity 400ms ease-in-out;
}

.page-exit{
    opacity: 0;
}

.card-fade-enter{
    opacity: 0;
}

.card-fade-enter-active{
    opacity: 1;
    transition: all 500ms ease-in;
}

.card-fade-exit{
    opacity: 1;
}

.card-fade-exit-active{
    opacity: 0;
    transition: all 500ms ease-in;
}