.consulting{
    text-align: center;
}

.tagline{
    font-size: 1.5rem;
    margin-bottom: 60px;
    letter-spacing: 1px;
}

.scene{
    max-width: 35vw;

    @media screen and (max-width: 600px) {
        max-width: 80vw;
    }
}

.left-align{
    text-align: left;
}

.toolsContainer{
    margin:50px;
}

.toolLogo{
    margin: 20px;
    width: 40%;
}

.toolLogoFull{
    margin: 20px;
    width: 60%;
}

@keyframes fadeIn{
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}